<ul class="sidebar-containt" ng-controller='sideBarController as vm'> 
    <li ng-repeat="menu in vm.rows track by menu.id" ng-class="{'dropDown':menu.children.length>0}">
        <a  ng-click="vm.menuClick(menu,vm.rows)" class="clearfix modifyLevel1" ng-class="{'menuSelected':menu.selected}">
            <div class="menu-icon fl text-center" title={{menu.title}}>
                <span class="png-icon" ng-class="'png-icon-'+$index"></span>
            </div>
            <span class="menu-text">{{menu.title}}</span>
        </a>
        <div ng-include='"sidebar-renderer.html"' ng-if='menu.children.length'></div>
    </li>
</ul>
<script type="text/ng-template" id="sidebar-renderer.html">
    <ul class="sub-menu" uib-collapse="!menu.expand">
        <li ng-repeat="menu in menu.children track by menu.id" ng-class="{'on':vm.selectId === menu.id,'dropDown':menu.children.length>0}">
            <a ng-click="vm.menuClick(menu,vm.rows)" ng-class="{'menuSelected':menu.selected}">
                <div class="menu-icon fl text-center" ng-style='{width:menu.width + "px"}'></div>
                <span>{{menu.title}}</span>
            </a>
            <div ng-include='"sidebar-renderer.html"' ng-if='menu.children.length'></div>
        </li>
    </ul>
</script>
<style>
.sidebar-containt{

}
.sidebar-containt  li{
    overflow: hidden;
}
.sidebar-containt .in>li>a>.menu-icon, .sub-menu .in>li>a>.menu-icon a {
    color: #2060cc;
}

.sidebar-containt .in a {
    color: #333;
}

.sidebar-containt li.dropDown>a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #d4e4ff transparent;
    top: 50%;
    margin-top: -4px;
    right: 30px;
}
.sidebar-containt .in>li.dropDown>a:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    border-color: #d4e4ff transparent;
    top: 50%;
    margin-top: -4px;
    right: 30px;
}

.sys-menu>li {
    margin-bottom: 10px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    padding: 5px 0;
}
.sys-menu .menuSelected{
    border-left:solid;
}
/* .sub-menu .menuSelected{
     border-left:solid;
    background-color: #fff; 
} */
</style>